{% extends 'landing/landing_page.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}
{% block navbar %}
<nav class="navbar">
    <div class="nav-actions">
        <a href="{% url 'landing' %}" class="block button">Go Back</a>
    </div>
</nav>
{% endblock %}
{% block main_content %}
    <form action="{% url 'login' %}" method="post">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form }}
        <a href="" class="forgot-password">Forgot Password ?</a>
        <input type="submit" class="block button" value="LOGIN">
    </form>
{% endblock %}