{% extends 'landing/landing_page.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}
{% block navbar %}
<nav class="navbar">
    <div class="nav-actions">
        <a href="{% url 'landing' %}" class="block button">Go Back</a>
    </div>
</nav>
{% endblock %}
{% block main_content %}
    <form action="{% url 'register' %}" method="post">
        <h1>Create Account</h1>
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'login' %}" class="sign-in">Already Have an Account ?</a>
        <input type="submit" class="block button" value="SIGN UP">
    </form>
{% endblock %}